.btnBack {
  display: flex;
  margin: 0.5em auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5em;
  background-color: #448AFF;
  color:#fff;
  text-shadow: 0px 0px 1px #000;
  box-shadow: 1px 1px 5px #000;
  border-radius: 0.5em;
  text-align: center;
  max-width: 50%;
}
div{
  text-align: center;
  margin: 20px;
}
.BtnEnviar{
  display: flex;
  margin: 0.5em auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5em;
  background-color: #448AFF;
  color:#fff;
  text-shadow: 0px 0px 1px #000;
  box-shadow: 1px 1px 5px #000;
  border-radius: 0.5em;
  text-align: center;
  max-width: 50%;
}
.mainInput{
  padding: 18px 20px 20px;
}
.publicacion{
  background: #dcdde1;
  margin-top: auto;
}
label{
  font: 15px 'Hardpixel';
}